#sidebar{
	width: 300px;
    float: left;/* 出現在左邊 */
    height: 50%;
    font-family: Microsoft JhengHei;/* 微軟正黑體 */
}/* 點選個人資料會出現的sidebar */
#richinfo_a{
	display: inline-block;
	padding-left: 5px;
}/**/
#timepannel_a{
	display: inline-block;
	padding-left: 5px;
}
.navbar-brand {
	font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 3vh;
    color: #FFFFFF;
}/* 左上角的飯飯之交 */
.navbar-nav>li>a{
	font-size: 18px;
	font-family: Microsoft JhengHei;
}/* 導覽列的選項 */
html, body{
	position: relative;
	font-family: Microsoft JhengHei;
	height: 100%;
	width: 100%;
}
#container{
	position: relative;
}
#map{
    overflow: auto;
    height: 100%;
}
#richinfo{
	vertical-align: middle;
	margin: 0px;
    margin-left: 3px;
}
#richinfo{
	vertical-align: middle;
	margin: 0px;
    margin-left: 3px;
}
#timepannel{
	vertical-align: middle;
	margin: 0px;
    margin-left: 3px;
}
#btn-hide{
	font-size: 5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,.ui-widget {
	font-family: Microsoft JhengHei;
}
.ui-accordion .ui-accordion-content {
    padding: 0.5em 0.5em;
}
.ui-widget button {
    font-family:  Microsoft JhengHei;
    letter-spacing: 3px
}
#q_result{
	
	margin-top: 65px;
}
.table>thead>tr>th {
	padding: 0px; 
}

#acc_layerlist {
  display: block;
  height: 274px;
  overflow: auto;
}
          <script type="text/javascript">
            var oDiv = document.getElementById('acc_layerlist');
            oDiv.style.cssText = 'display : block; height: 278.4px; overflow: auto;' 
          </script>